/*   320px —  480px: Mobile devices
     481px —  768px: iPads, Tablets
     769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens */

$pbBodyMain: #ee6666;
$pbBodyMiddle: #a33232;
$pbBodyDark: #751515;
$pbBezel: #333;
$pbScreen: #444;

@mixin roundCorners($radius: 20px) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin heightWidth($height, $width) {
  height: $height;
  width: $width;
}

// @media only screen and (min-width: 280px) and (max-width: 840px) {

  .pdContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: -100;
  }
  
  .pd {
    position: absolute;
  }

  .pdBodyUpper, .pdBodyLower {
    @include roundCorners($radius: 4vw);
    background-color: $pbBodyMain;
  }
  
  .pdBodyUpper {
    @include heightWidth(45vw, 80vw);
    transform: translateY(-50%);
  }
  
  .pdBodyLower, .pdBodyLowerDark, .pdBodyLowerMiddle {
    height: 53vw;
    transform: translateY(30%);
  }

  .pdBodyLower {
    width: 95vw;
  }

  .pdBodyLowerDark {
    width: 82vw;
    background-color: $pbBodyDark;
  }

  .pdBodyLowerMiddle {
    width: 80vw;
    background-color: $pbBodyMiddle;
  }

  .pdBezelUpper, .pdBezelLower {
    @include roundCorners($radius: 3vw);
    @include heightWidth(40vw, 78vw);
    background-color: $pbBezel;
  }

  .pdBezelUpper {
    transform: translateY(-57%);
  }
  
  .pdBezelLower {
    transform: translateY(50%);
  }

  .pdScreenUpper, .pdScreenLower {
    @include roundCorners($radius: 2vw);
    @include heightWidth(35vw, 70vw);
    background-color: $pbScreen;
  }

  .pdScreenUpper {
    transform: translateY(-65%);
  }

  .pdScreenLower {
    transform: translateY(58%);
  }

// }
