@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

$bgcolor: #404040;
$textcolor: #ddd;

* {
  font-family: 'Courier Prime', 'vt323';
  color: $textcolor;
}

.App {
  background-color: $bgcolor;
  height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.credits {
	color: black;
	justify-self: end;
	align-self: flex-end;
}