@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

$bgcolor: #404040;
$textcolor: #ddd;

* {
  font-family: 'Courier Prime', 'vt323';
  color: $textcolor;
}

.App {
  background-color: $bgcolor;
  position: relative;
  height: 100vh;
  z-index: -200;
}