/*   320px —  480px: Mobile devices
     481px —  768px: iPads, Tablets
     769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens */

$pbBodyMain: #a13333;
$pbBodyDark: #af3535;
$pbBodyText: #812323;
$pbScreen: rgb(36, 36, 36);
$pbBezel: rgb(46, 46, 46);

@mixin roundCorners($radius: 20px) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin heightWidth($height, $width) {
  height: $height;
  width: $width;
}

.faPowerOffDevice {
  z-index: 100;
  fill: rgba(0, 0, 0, 0.30);
}

.faPowerOffDeviceVert {
  transform: translate(43.6vw, -6vw);
  transform: scale(1);
}

.pdText {
  font-weight: 1000;
  color: $pbBodyText;
}

//==Vertical==

.pdTextVert {
    font-size: 4vw;
    transform: rotate(-90deg) translateY(43.5vw) translateX(-25vw);
}

.pdScreenUpperVert{
  @include heightWidth(35vw, 70vw);
  @include roundCorners($radius: 2vw);
  transform: translateY(-65%);
}

.pdBezelUpperVert{
  @include heightWidth(40vw, 78vw);
  @include roundCorners($radius: 3vw);
  transform: translateY(-57%);
}

.pdBodyUpperVert{
  @include heightWidth(45vw, 80vw);
  @include roundCorners($radius: 4vw);
  transform: translateY(-50%);
}

.pdScreenLowerVert{
  @include heightWidth(35vw, 70vw);
  @include roundCorners($radius: 2vw);
  transform: translateY(58%);
}

.pdBezelLowerVert{
  @include heightWidth(40vw, 78vw);
  @include roundCorners($radius: 3vw);
  transform: translateY(50%);
}

.pdBodyLowerDarkVert{
  width: 81vw;
  height: 53vw;
  transform: translateY(30%);
}

.pdBodyLowerVert{
  @include roundCorners($radius: 4vw);
  width: 95vw;
  height: 53vw;
  transform: translateY(30%);
}

.pdScreenUpperVert, .pdScreenLowerVert {
  box-shadow: 
    inset 0.25vw 0.25vw 1vw rgba(0, 0, 0, 0.30), 
    inset -0.25vw -0.25vw 1vw rgba(0, 0, 0, 0.30);
}

.pdBodyLowerVert, .pdBodyUpperVert {
  box-shadow: 
    inset 0.5vw 0.5vw 1vw rgba(255, 255, 255, 0.30), 
    inset -0.5vw -0.5vw 1vw rgba(0, 0, 0, 0.40),
    2vw 2vw 2vw rgba(0, 0, 0, 0.20);
}

.pdBodyLowerDarkVert {
  box-shadow: 
  inset -0.5vw -0.5vw 2vw rgba(0, 0, 0, 0.50), 
  inset  0.5vw  0.5vw 2vw rgba(0, 0, 0, 0.50);
}

.pdBezelUpperVert, .pdBezelLowerVert {
  box-shadow: 
    inset  0.05vw  0.05vw 0.5vw rgba(255, 255, 255, 0.30), 
    inset -0.05vw -0.05vw 0.5vw rgba(0, 0, 0, 0.30),
     0.025vw  0.025vw 0.5vw rgba(255, 255, 255, 0.30), 
    -0.025vw -0.025vw 0.5vw rgba(0, 0, 0, 0.40);
}

//==End-Vertical==
//===Horizontal===

.pdTextHori {
  font-size: 4vh;
  transform: rotate(-90deg) translateY(43.5vh) translateX(-25vh);
}

.pdScreenUpperHori{
  @include heightWidth(35vh, 70vh);
  @include roundCorners($radius: 2vh);
  transform: translateY(-65%);
}

.pdBezelUpperHori{
  @include heightWidth(40vh, 78vh);
  @include roundCorners($radius: 3vh);
  transform: translateY(-57%);
}

.pdBodyUpperHori{
  @include heightWidth(45vh, 80vh);
  @include roundCorners($radius: 4vh);
  transform: translateY(-50%);
}

.pdScreenLowerHori{
  @include heightWidth(35vh, 70vh);
  @include roundCorners($radius: 2vh);
  transform: translateY(58%);
}

.pdBezelLowerHori{
  @include heightWidth(40vh, 78vh);
  @include roundCorners($radius: 3vh);
  transform: translateY(50%);
}

.pdBodyLowerDarkHori{
  width: 81vh;
  height: 53vh;
  transform: translateY(30%);
}

.pdBodyLowerHori{
  @include roundCorners($radius: 4vh);
  width: 95vh;
  height: 53vh;
  transform: translateY(30%);
}

.pdScreenUpperHori, .pdScreenLowerHori {
  box-shadow: 
    inset 0.25vh 0.25vh 1vh rgba(0, 0, 0, 0.30), 
    inset -0.25vh -0.25vh 1vh rgba(0, 0, 0, 0.30);
}

.pdBodyLowerHori, .pdBodyUpperHori {
  box-shadow: 
    inset 0.5vh 0.5vh 1vh rgba(255, 255, 255, 0.30), 
    inset -0.5vh -0.5vh 1vh rgba(0, 0, 0, 0.40),
    2vh 2vh 2vh rgba(0, 0, 0, 0.20);
}

.pdBodyLowerDarkHori {
  box-shadow: 
  inset -0.5vh -0.5vh 2vh rgba(0, 0, 0, 0.50), 
  inset  0.5vh  0.5vh 2vh rgba(0, 0, 0, 0.50);
}

.pdBezelUpperHori, .pdBezelLowerHori {
  box-shadow: 
    inset -0.05vh -0.05vh 0.5vh rgba(255, 255, 255, 0.30), 
    inset  0.05vh  0.05vh 0.5vh rgba(0, 0, 0, 0.30),
     0.25vh  0.25vh 0.5vh rgba(255, 255, 255, 0.10), 
    -0.25vh -0.25vh 0.5vh rgba(0, 0, 0, 0.40);
}

//==End-Horizontal===

//==Styles-for-both==
.pdContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.pd {
  position: absolute;
}

.pdBodyUpper, .pdBodyLower {
  background-color: $pbBodyMain;
}

.pdBodyLowerDark {
  background-color: $pbBodyDark;
}

.pdBezelUpper, .pdBezelLower {
  background-color: $pbBezel;
}

.pdScreenUpper, .pdScreenLower {
  background-color: $pbScreen;
}