.screenContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//==Both==//

.topScreen, .bottomScreen {
  overflow: hidden;
  display: grid;
  align-items: center;
}

//==Top-Screen==//

.topScreenContents {
  padding: 1em;
}

//==Bottom-Screen==//

.pokemon {
  height: auto;
  width: 100%;
}

.pokemonContainer {
  display: grid;
  grid-area: pC;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.btnUp {
  grid-area: btnup;
  color: black;
  font-size: 1.5em;
}  

.btnDown {
  grid-area: btndown;
  color: black;
  font-size: 1.5em;
}

.btnContainer {
  display: grid;
  align-self: center;
  justify-self: center;
  grid-area: bC;
  grid-template-areas: 
  "btnup"
  "btndown";
}

.bottomScreenContents {
  height: 93%;
  width: 100%;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-areas: 
  "pC pC pC pC pC pC bC"
  "pC pC pC pC pC pC bC"
  "pC pC pC pC pC pC bC"
  "pC pC pC pC pC pC .";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 6%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}


//==Top-Vertical==

.topScreenVert {
  font-size: 3vw;
  width: 69vw;
  height: 34vw;
  transform: translateY(-5.6vw);
}

//==Top-Horizontal==

.topScreenHori {
  font-size: 3vh;
  width: 69vh;
  height: 34vh;
  transform: translateY(-5.6vh);
}

//==Bottom-Vertical==

.bottomScreenVert {
  font-size: 3vw;
  width: 69vw;
  height: 34vw;
  transform: translateY(3.1vw);
}

.btnContainerVert {
  width: 5vw;
  height: 25vw;
}

//==Bottom-Horizontal==

.bottomScreenHori {
  font-size: 3vh;
  width: 69vh;
  height: 34vh;
  transform: translateY(3.1vh);
}

.btnContainerHori {
  width: 5vh;
  height: 25vh;
}